*.userprefs
*.suo
.idea
*.iml
LiteNetLib/obj
LiteNetLib/bin
LiteNetLibWin81/obj
LiteNetLibWin81/bin
LibSample/obj
LibSample/bin
*.DotSettings.user
LiteNetLibSampleUnity.CSharp.csproj
LiteNetLibSampleUnity.sln
LiteNetLibSampleUnity/Temp
LiteNetLibSampleUnity/Library
LiteNetLibNetCore/LiteNetLibNetCore/bin
LiteNetLibNetCore/LiteNetLibNetCore/obj
LiteNetLibNetCoreOld/bin
LiteNetLibNetCoreOld/obj
**/*.vscode
**/project.lock.json
