*.userprefs
*.suo
.idea
*.iml
LiteNetLib/obj
LiteNetLib/bin
LiteNetLibWin81/obj
LiteNetLibWin81/bin
LibSample/obj
LibSample/bin
*.DotSettings.user
LiteNetLibSampleUnity.CSharp.csproj
LiteNetLibSampleUnity.sln