*.userprefs
*.suo
.idea
*.iml
.vs/
LiteNetLib/obj
LiteNetLib/bin
LiteNetLibWin81/obj
LiteNetLibWin81/bin
LibSample/obj
LibSample/bin
*.DotSettings.user
LiteNetLibSampleUnity.CSharp.csproj
LiteNetLibSampleUnity.sln
LiteNetLibSampleUnity/Temp
LiteNetLibSampleUnity/Library
LiteNetLibNetCore/bin
LiteNetLibNetCore/obj
**/*.vscode
**/project.lock.json
